{% extends "layout.html" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}
{% block title %}Lesson Summarizer{% endblock %}
{% block content %}
<div class="p-3">
  <!-- Photo upload indicator -->
  <div class="progressOverlay" id="uploadPhotoIndicator">
    <p>Uploading photo...</p>
    <p>This typically takes about 20 seconds, depending on your network speed.</p>
    <p>Percent: <span id="uploadPhotoPercent">0%</span></p>
  </div>
  <div class="progressOverlay" id="summarizingIndicator">
    <p>Summarizing text</p>
    <p>This typically takes 10-20 seconds. Please wait...</p>
    <img src="/static/images/spinner.gif">
  </div>

  <!-- Photo upload form -->
  <div id="uploadPhotoDiv">
    <form id="uploadPhotoForm">
      <div class="form-group">
        <p><label for="image">Click the button below to take a photo of the lesson page.</label></p>
        <input type="file" name="image" id="uploadPhotoFormImageInput" accept="image/*" capture>
      </div>
    </form>
  </div>

  <!-- Summarized content goes inside this div -->
  <div id="summary" class="container"></div>
</div>
{% endblock %}
